<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('header') %>

    <div id="call-btn" class="visible-xs">
      <a class="btn" href="tel:+916384118334">
        <span class="glyphicon glyphicon-earphone"></span>
        +916384118334
      </a>
    </div>
    <div id="xs-deliver" class="text-center visible-xs">* We Deliver</div>

    <div id="main-content" class="container">
      <div class="jumbotron">
        <!--<img src="images/banking.jpg" alt="Picture of restaurant" class="img-responsive visible-xs main-image">-->
        <img />
      </div>
    </div>

    <%- include('footer') %>
  </body>
</html>
